{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Nueva Reserva</h3>
        <br>
        <div class="row">
            {{ form_start(reservaForm, {'attr': { 'novalidate':'novalidate'}}) }}

            {{ form_widget(reservaForm )}}

            <br>
            <button class="btn btn-dark" type="submit">Reservar</button>
            {{ form_end(reservaForm) }}

        </div>
    </div>


{% endblock %}

{% block title %}
    Nueva Reserva
{% endblock %}
